body{
     font-family: Arial, Helvetica, sans-serif;
     background-color: rgb(48, 176, 8);
     color: rgb(54, 10, 96);
     }
     h1{
        color: blue;
    }
       a{
        color: aqua;
        text-decoration: none;
        }
        a:hover {
            color: brown;
            }
ul> li{
    font-weight: bold;
            }
            h1+p{
                 background-color:purple ;
                 padding: 10px;
                 border-radius: 5px;
            }
            ul li:hover{
                 color: bisque;
            }
            ul li :nth-child (3){
                 background color : yellow
            }
            p::first-letter{ 
                font-size: 200%;
                color: black;
            }

